@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  font-family: Rubik 'sans-serif';
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */

  /* background: radial-gradient(46.83% 46.83% at 50% 53.17%, rgba(3, 53, 103, 0.59) 0%, #000000 100%); */
}

.background-main {
  /* background: radial-gradient(46.83% 46.83% at 50% 53.17%, rgba(3, 53, 103, 0.59) 0%, #000000 100%);  */
  background: linear-gradient(to right, #000000, #011932)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main {
  position: relative;
  height: 100vh;
  /* overflow: hidden; */
}

.whatsapp {
  position: fixed;
  bottom: 60px;
  right: 60px;
}


.upper-deck{
  background-color: #002147;
  color: rgba(255, 255, 255, 1);
  height: 48px;
  /* height: 48px; */
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.upper-deck-button{
  /* border-color: white; */
  color: white;
  border-radius: 10px;
  border: 1.5px solid #FFFFFF;
  width: 100px;
  height: 30px;
}

.upper-deck-button:hover {
  background-color: #323d6b;
}

@media only screen and (max-width: 600px) {
  .upper-deck {
    height: 2.5rem; /* Adjust height for mobile */
    padding: 0 1rem;
    font-size: 12px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* width: 270; */
  }

  .upper-deck-button {
    width: 80px; /* Adjust width for mobile */
    height: 25px; /* Adjust height for mobile */
    font-size: 0.8rem; /* Adjust font size for better readability */
  }

  .whatsapp {
    right: 24px;
  }
}


.slick-slider {
  position: relative !important;
}

.slick-slider::before,
.slick-slider::after {
  content: '';
  position: absolute !important;
  left: 0;
  right: 0;
  height: 20px; /* Adjust the height to your preference */
  z-index: 1; /* Ensure it appears above the slider content */
  pointer-events: none; /* Ensure it doesn't interfere with slide interactions */
}

.slick-slider::before {
  top: 0;
  box-shadow: 0 10px 10px 50px linear-gradient(to right, #000000, #011932) inset; /* Adjust the shadow to your preference */
}

.slick-slider::after {
  bottom: 0;
  box-shadow: 0 -10px 10px 50px linear-gradient(to right, #000000, #011932) inset; /* Adjust the shadow to your preference */
}